* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.intro {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 150vh;
    min-height: 1150px;
    position: relative;

    background: url("images/Group\ 15.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    padding-top: 280px;
    display: flex;
    justify-content: space-between;
}

.intro__title {
    color: #f0e9ff;
    font-size: 80px;
    max-width: 900px;
    font-weight: 700;
    text-transform: uppercase;
    /* line-height: 1; */
}

.about_us {
    padding-top: 230px;
    display: flex;
    justify-content: space-around;
}

.about_us_inner {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    align-items: flex-end;
    color: #f0e9ff;
}

.about_title {
    font-weight: bold;
    font-size: 48px;
}

.about_text {
    font-weight: lighter;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    display: flex;
}

.header__logo {
    width: 80px;
    height: 100%;
}

.header__title {
    margin-left: 15px;
    font-size: 20px;
    color: #f0e9ff;
    font-family: 'Montserrat', sans-serif;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fff;
}

/* Button */
.btn {
    margin: 0px 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    padding: 8px 30px;
    height: 100%;
    max-width: 240px;

    border: 3px solid #fff;

    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #10069f;
}

/* Main */
